<div class = "container">

<h3 class = "fontColorRectifier">{{model.message}}</h3>

<h4 class = "fontColorRectifier">Your Users</h4>
<table class="table table-striped">
    <thead class = "fontColorRectifier">
        <th>
            Email
        </th>

        <th>
            First Name
        </th>

        <th>
            Last Name
        </th>

        <th>
            Role
        </th>

        <th>
            Promote
        </th>

        <th>
            Delete
        </th>
    </thead>

    <tbody>
        <tr class = "recipeNameColorMaker">
            <td>
                <input ng-model = "model.newUserEmail" placeholder="new email"/>
            </td>
            <td>
                <input ng-model = "model.newUserPassword" placeholder="new password" type = "password"/>
            </td>
            <td>
                <input ng-model = "model.newUserFirstName" placeholder="first name"/>
            </td>
            <td>
                <input ng-model = "model.newUserLastName" placeholder="last name"/>
            </td>
            <td>
                <input ng-model = "model.newUserRole" placeholder="role"/>
            </td>
            <td>
                <a ng-click = "model.newUserByAdmin(model.newUserEmail, model.newUserPassword, model.newUserFirstName, model.newUserLastName, model.newUserRole)"><span class = "btn btn-success">Create</span></a>
            </td>

        </tr>
        <tr ng-repeat = "user in model.users" class = "recipeNameColorMaker">
            <td>
                {{user.email}}
            </td>

            <td>
                {{user.firstName}}
            </td>

            <td>
                {{user.lastName}}
            </td>

            <td>
                {{user.role}}
            </td>

            <td>
                <a ng-click = "model.promoteMember(user._id, user)"><span class = "btn btn-success">Promote</span></a>
            </td>

            <td>
                <a ng-click = "model.deleteMember(user._id)"><span class = "btn btn-danger">Delete</span></a>
            </td>
        </tr>
    </tbody>
</table>

</div>
