<div ng-show = "model.error" class ="alert alert-success" role="alert">
    {{model.successMessage}}
</div>

<div class = "container container-fluid">
    <table class = "table">
        <thead>
            <th>
                From
            </th>
            <th>
                Message
            </th>
            <th>
                Time Received
            </th>
        </thead>
        <tbody>
            <tr ng-repeat = "message in model.user.inbox">
                <td>
                    {{message.firstName}}
                </td>
                <td>
                    {{message.message}}
                </td>
                <td>
                    {{message.timeReceived.default}}
                </td>
            </tr>
        </tbody>
    </table>

    <h1>
        Get in touch with the most popular Homestraunt User
    </h1>

    <div class = "row">
        <div class="col-sm-3 hidden-xs">
          First Name:  {{model.popularUser.firstName}}
        </div>

        <div class = "col-sm-3 hidden-xs">
           Last Name: {{model.popularUser.lastName}}
        </div>

        <div class = "col-sm-3 hidden-xs">
           Email id: {{model.popularUser.email}}
        </div>

        <div class = "col-sm-3 hidden-xs">
            <input ng-model = "model.message" placeholder = "your message here"/>
            <a ng-click="model.sendEmail(model.message)"><span class="btn btn-info">Send</span></a>
        </div>
    </div>

   <!-- {{model.popularUser}}-->
</div>


