
<div class = "container container-fluid">
    <h1 class = "fontColorRectifier">View Inbox</h1>
    <table class = "table">
        <thead class = "fontColorRectifier">
            <th>
                From
            </th>
            <th>
                Message
            </th>
            <!--<th>
                Reply
            </th>-->
        </thead>
        <tbody>
            <tr ng-repeat = "message in model.user.inbox">
                <td class = "recipeNameColorMaker">
                    {{message.firstName}}
                </td>
                <td>
                    {{message.message}}
                </td>
                <!--<td>
                    <input ng-model="model.reply">
                    <a ng-click = "model.replyMail(model.reply)"<span class = "btn btn-success">Reply</span>
                </td>-->
            </tr>
        </tbody>
    </table>

    <h1 class = "fontColorRectifier">
        Get in touch with the most popular Homestraunt User
    </h1>

    <div class = "row fontColorRectifier">
        <div class="col-xs-3">
          First Name:  {{model.popularUser.firstName}}
        </div>

        <div class = "col-xs-3">
           Last Name: {{model.popularUser.lastName}}
        </div>

        <div class = "col-xs-3">
           Email id: {{model.popularUser.email}}
        </div>

        <div class = "col-xs-3">
            <input ng-model = "model.message" placeholder = "your message here"/>
            <a ng-click="model.sendEmail(model.message)"><span class="btn btn-info">Send</span></a>
        </div>
    </div>

    <div ng-show = "model.error" class ="alert alert-success" role="alert">
        {{model.successMessage}}
    </div>


    <!-- {{model.popularUser}}-->
</div>


