<div class = "container">
    <form>
        <label for="loginEmail">Email</label>
        <input type="email" id="loginEmail" name="loginEmail" ng-model = "model.email" class="form-control">
        <label for="loginPassword">Password</label>
        <input type="password" id="loginPassword" name="loginPassword" ng-model = "model.password" class="form-control">
        <a ng-click="model.loginUser(model.email, model.password)" class = "btn btn-block btn-success form-group">Login</a>
        <a href="#/user/{{model.user._id}}/recipeSearch" class = "btn btn-block btn-info form-group">Go to recipe Search</a>
        <a href="#/register" class = "btn btn-block btn-primary form-group"> SignUp</a>

    </form>
</div>