<div class = "container" class = "projectBackGround">
    <h1>Welcome to Homestraunt!</h1>

    <form>
        <label for="loginEmail">Email</label>
        <input type="email" id="loginEmail" name="loginEmail" ng-model = "model.email" placeholder="your email">
        <label for="loginPassword">Password</label>
        <input type="password" id="loginPassword" name="loginPassword" ng-model = "model.password" placeholder="your password">
        <a ng-click="model.loginUser(model.email, model.password)" class = "btn btn-success form-group">Login</a>
        <!--<a href="/guestRecipeSearch" class = "btn btn-block btn-info form-group">Search Recipes as guest</a>-->
        <a href="#/register" class = "btn btn-primary form-group"> SignUp</a>
        <a ng-click = "model.infoAlert()"><span class = "glyphicon glyphicon-info-sign glyph-color-maker"></span></a>
<!--

        <a href="/auth/facebook" class = "btn btn-primary btn-block"><span class = "fa fa-facebook"></span> Facebook</a>
-->
        <input ng-model = "model.queryName" class="form-control" placeholder="enter an ingredient, like cheese">
        <a ng-click="model.loadDoc(model.queryName)" class = "btn btn-success">Click to search for recipes</a>

    </form>
    <div class="container container-fluid">
    <table class = "table">
        <thead>
        <th>Name of the dish</th>
        <th>Click the image to view the recipe</th>
        </thead>
        <tbody>



        <tr ng-repeat = "oneRecipe in model.recipes">

            <td>
                <a href="#/user/recipeDetails/{{model.rid}}">{{oneRecipe.recipe.label}} </a>
            </td>
            <td>
                <a href="{{oneRecipe.recipe.url}}"><img ng-src = "{{oneRecipe.recipe.image}}" height = "300" width = "300"/></a>

            </td>

        </tr>

        </tbody>
    </table>
</div>
</div>