
<h1>Reset Password</h1>

<div ng-show = "model.success" class ="alert alert-success" role="alert">
    {{model.success}}
</div>

<div ng-show = "model.error" class ="alert alert-danger" role="alert">
    {{model.error}}
</div>

<form>
    <label for="userfirstName">First Name</label>
    <input id="userfirstName" name="userfirstName" class="form-control" ng-model="model.user.firstName">
    <label for="userlastName">Last Name</label>
    <input id="userlastName" name="userlastName" class="form-control "ng-model="model.user.lastName">
    <a ng-click="model.updateUser(model.userId, model.user)" class = "btn btn-block btn-success form-group">Submit changes</a>
    <a ng-click="model.deleteUser(model.userId)" class = "btn btn-block btn-danger form-group">Delete Profile</a>
    <a href="#/user/{{model.userId}}/myRecipes" class = "btn btn-block btn-info"> View your Recipes </a>
    <a href="#/login" class = "btn btn-block btn-warning form-group">Logout</a>
</form>
