<div class = "container">
<h1 class = "fontColorRectifier">Reset Credentials</h1>

<div ng-show = "model.success" class ="alert alert-success" role="alert">
    {{model.success}}
</div>

<div ng-show = "model.error" class ="alert alert-danger" role="alert">
    {{model.error}}
</div>

<form>
    <label for="userfirstName" class = "fontColorRectifier">First Name</label>
    <input id="userfirstName" name="userfirstName" class="form-control" ng-model="model.user.firstName">
    <label for="userlastName" class = "fontColorRectifier btn-space-maker">Last Name</label>
    <input id="userlastName" name="userlastName" class="form-control "ng-model="model.user.lastName">
    <a ng-click="model.updateUser(model.userId, model.user)" class = "btn btn-success btn-space-maker">Submit changes</a>
    <a ng-click="model.deleteUser(model.userId)" class = "btn btn-danger btn-space-maker">Delete Profile</a>
    <a href="#/user/myRecipes" class = "btn btn-info btn-space-maker"> View your Recipes </a>
    <a ng-click = "model.logout()" class = "btn btn-warning btn-space-maker">Logout</a>

</form>
</div>
