<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Reset User Credentials</h1>
<form>
    <label for = "updateUserEmail">Enter your email</label>
    <input id = "updateUserEmail" type = "email" placeholder = "abc@123.com">
    <label for = "newUserPassword1">New Password</label>
    <input id = "newUserPassword1" type = "password">
    <label for = "newUserPassword2">Re enter Password</label>
    <input id = "newUserPassword2" type = "password">
    <a href = "#/login" class = "btn btn-success">Reset Credentials</a>
    <a href = "#/login" class = "btn btn-danger">Delete User Profile</a>

</form>
</body>
</html>