input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

.container .websitelistSpaceMaker
{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
}

.websitelistSpaceMaker .row
{
    padding-top: 30px;
}

.container .pagelistSpaceMaker
{
    padding-top: 30px;
}

.container .newPageSpaceMaker label
{
    padding-top: 30px;
    padding-bottom: 0px;
}

.navbar-header-style {
    background-color: cornflowerblue;
}

.floatRectifier
{
    float: none;
}

.widgetGlyphAligner
{
    margin-right: 0px;
    padding-right: 0px;
    border-right: 0px;
}

.profileColorRenderer
{
    background-color: royalblue;
}


.glyphColorRectifier
{
    color: white;
}

.navbar-default .navbar-brand{
    color: #fff;
}