input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

#websitelistSpaceMaker
{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
}

#websitelistSpaceMaker .row
{
    padding-top: 5px;
}

#pagelistSpaceMaker
{
    padding-top: 30px;
}

#newPageSpaceMaker label
{
    padding-top: 30px;
    padding-bottom: 0px;
}

.navbar-header-style {
    background-color: cornflowerblue;
}

.floatRectifier
{
    float: none;
}

.widgetGlyphAligner
{
    margin-right: 0px;
    padding-right: 0px;
    border-right: 0px;
}