<nav class="navbar navbar-default navbar-fixed-top profileColorRenderer" xmlns="http://www.w3.org/1999/html">
    <div class="row container-fluid">
        <!--<div class = "col-md-4 hidden-sm hidden-xs">
            <div class="navbar-header floatRectifier">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
          <span class="glyphicon glyphicon-menu-left glyphColorRectifier widgetGlyphAligner">
          </span>
                    </a>
                </p>
                <p class="navbar-brand" href="#">
                    widgets
                </p>
                <p class="navbar-text pull-right widgetGlyphAligner" id = "webListPlus">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                       class="navbar-link">
          <span class="glyphicon glyphicon-plus glyphColorRectifier widgetGlyphAligner">
          </span>
                    </a>
                </p>
            </div>
        </div>-->

        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-menu-left glyphColorRectifier widgetGlyphAligner floatRectifier">
                    </span>
            </a>
        </p>
        <div class = "col-md-8">
            <div class="navbar-header floatRectifier">
                <p class="navbar-brand" href="#" id = "newWebSiteSpace">
                    Edit widget
                </p>
            </div>
        </div>
    </div>
</nav>

<div ng-show = "model.error" class ="alert alert-danger" role="alert">
    {{model.error}}
</div>
<div class="container">
    <div class = "row jga-widget"
         ng-repeat = "widget in model.widgets"
         ng-switch = "widget.widgetType">
        <!--<div class = "col-md-4 hidden-sm hidden-xs container websitelistSpaceMaker jga-widget-tool" id = "websitelistSpaceMaker">

            <ul class="list-group">
                <li ng-repeat = "widget in model.widgets" class="list-group-item">
                    {{widget}}
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/
                    {{widget._id}}"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
            </ul>
        </div>-->


        <div class = "col-md-8 jga-widget-tool">
            <div ng-switch-when = "HEADER">
                <ng-include src ="'/views/widget/widget-heading-editor.view.client.html'">{{widget.text}}</ng-include>
            </div>
            <div ng-switch-when = "YOUTUBE">
                <ng-include src ="'/views/widget/widget-youtube-editor.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when = "IMAGE">
                <ng-include src ="'/views/widget/widget-image-editor.view.client.html'"></ng-include>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom profileColorRenderer">
    <div class="container-fluid">
        <div class="navbar-header floatRectifier">
            <p class="navbar-text pull-right widgetGlyphAligner">
                <a href="#/user/{{model.userId}}" class="navbar-link" id = "webListUser">
          <span class="glyphicon glyphicon-user glyphColorRectifier">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


