
<!--<nav class="navbar navbar-default navbar-fixed-top widgetColorRenderer">
    <div class="container-fluid">
        <div class="navbar-header floatRectifier">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-link">
          <span class="glyphicon glyphicon-menu-left glyphColorRectifier widgetGlyphAligner">
          </span>
                </a>
            </p>
            <p class="navbar-brand">
                Edit Widget
            </p>
            <p class="navbar-text pull-right widgetGlyphAligner" id = "webListPlus">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-link">
          <span class="glyphicon glyphicon-ok glyphColorRectifier glyphPosRectifier">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>-->


<!--<div class="container" id = "newPageSpaceMaker">
    <form class = "form-group" class = "newWebsiteSpaceMaker" id = "websitelistSpaceMaker">
        {{model.widget}}
        <div ng-include = "'views/widget/widget-'+model.widget.widgetType+'-editor.html'"></div>
    </form>
    <div class = "row">
        <div class = "col-xs-12">
            <a class="btn btn-danger btn-block form-control"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                Delete Widget</a>
        </div>
    </div>
</div>-->

<div class="container form-group" id = "newPageSpaceMaker">
    <form class = "form-group" class = "newWebsiteSpaceMaker" id = "websitelistSpaceMaker">
        <label for="text">Text</label>
        <input id="text" ng-model="model.currentWidget.text" placeholder="Heading" value="{{model.currentWidget.text}}">
    </form>
    <div>
        <!--<a class="btn btn-danger btn-block form-control"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                Delete Widget</a>-->
        <a class="btn btn-danger btn-block form-control"
           ng-click="model.deleteWidget(model.currentWidget._id)">
            Delete Widget</a>
    </div>
</div>


<!--<nav class="navbar navbar-default navbar-fixed-bottom widgetColorRenderer">
    <div class="container-fluid">
        <div class="navbar-header floatRectifier">
            <p class="navbar-text pull-right widgetGlyphAligner">
                <a href="#/user/{{mode.userId}}" class="navbar-link" id = "webListUser">
          <span class="glyphicon glyphicon-user glyphColorRectifier">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>-->
