<div class="container" id = "newPageSpaceMaker">
    <form class = "form-group" class = "newWebsiteSpaceMaker" id = "websitelistSpaceMaker">
        <label for = "newHtmlText">HTML Code</label>
        <input type = "text" id = "newHtmlText" class = "form-control"/>

    </form>
    <div class = "row">
        <div class = "col-xs-12">
            <a class="btn btn-danger btn-block form-control"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                Delete Widget</a>
        </div>
    </div>
</div>