


<div class="container" id = "newPageSpaceMaker">
    <!--<form class = "form-group" class = "newWebsiteSpaceMaker" id = "websitelistSpaceMaker">
        <label for = "newImageName">Name</label>
        <input type = "text" id = "newImageName" class = "form-control"/>
        <label for = "newImageText">Text</label>
        <input type = "text" id = "newImageText" placeholder = "An Open Letter To Tech Conference Organizers"
               class = "form-control"/>
        <label for = "newImageURL">URL</label>
        <input type = "text" id = "newImageURL" class = "form-control"
               ng-model = "model.widget.url" placeholder="https://static.pexels.com/photos/186422/pexels-photo-186422.jpeg"/>
        <label for = "newImageWidth">Width</label>
        <input ng-model="model.widget.width" type = "text" id = "newImageWidth" class = "form-control" placeholder = "100%"/>
        <label for = "newImageSource">Upload</label>
        <input type = "file" id = "newImageSource" class = "form-control" placeholder = "100%"/>
    </form>-->

    <form action="/api/upload"  method="post" enctype="multipart/form-data" class = "form-group" id = "websitelistSpaceMaker">

        <label for = "newImageName">Name</label>
        <input type = "text" id = "newImageName" class = "form-control"/>
        <label for = "newImageText">Text</label>
        <input type = "text" id = "newImageText" placeholder = "An Open Letter To Tech Conference Organizers"
               class = "form-control"/>
        <input type = "text" id = "newImageURL" class = "form-control"
               ng-model = "model.widget.url" placeholder="https://static.pexels.com/photos/186422/pexels-photo-186422.jpeg"/>
        <label for = "newImageWidth">Width</label>
        <input ng-model="model.widget.width" type = "text" id = "newImageWidth" class = "form-control" placeholder = "100%"/>

        <input  name="myFile"   type="file" class="form-control"/>
        <input  name="width"    value="50%" style="display: none"/>
        <input  name="widgetId" value="123"   style="display: none"/><br>
        <!--<button type="submit"   class="btn btn-block btn-primary">Upload Image</button>-->
    </form>

            <a class="btn btn-primary btn-block form-control"
                ng-click = "model.updateWidget(model.widgetId, model.widget)">
                Submit</a>

            <a class="btn btn-danger btn-block form-control"
               ng-click = "model.deleteWidget(model.widgetId)">
                Delete Widget</a>


</div>

