<nav class="navbar navbar-default navbar-fixed-top pageColorRenderer">
    <div class="container-fluid">
        <div class="navbar-header floatRectifier">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-menu-left glyphColorRectifier widgetGlyphAligner">
          </span>
                </a>
            </p>
            <p class="navbar-brand" href="#">
                Edit Widget
            </p>
            <p class="navbar-text pull-right widgetGlyphAligner" id = "webListPlus">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
          <span class="glyphicon glyphicon-ok glyphColorRectifier glyphPosRectifier">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>



<div ng-show = "model.error" class ="alert alert-danger" role="alert">
    {{model.error}}
</div>
<div class="container">
    <!--<div class = "row jga-widget"
         ng-switch = "model.currentWidget.widgetType">

        <div class = "col-md-8 jga-widget-tool">
            <div ng-switch-when = "HEADER">
                <ng-include src ="'#/views/widget/widget-heading-editor.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when = "YOUTUBE">
                <ng-include src ="'#/views/widget/widget-youtube-editor.view.client.html'"></ng-include>

            </div>
            <div ng-switch-when = "IMAGE">
                <ng-include src ="'#/views/widget/widget-image-editor.view.client.html'"></ng-include>

            </div>
        </div>
    </div>-->
    <div class = "container">
        <div ng-include="'views/widget/widget-'+model.currentWidget.widgetType.toLowerCase()+'-editor.view.client.html'"></div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom profileColorRenderer">
    <div class="container-fluid">
        <div class="navbar-header floatRectifier">
            <p class="navbar-text pull-right widgetGlyphAligner">
                <a href="#/user/{{model.userId}}" class="navbar-link" id = "webListUser">
          <span class="glyphicon glyphicon-user glyphColorRectifier">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


