<div class="container" id = "newPageSpaceMaker">
    <form class = "form-group" class = "newWebsiteSpaceMaker" id = "websitelistSpaceMaker">
        <label for = "newHtmlText">HTML Code</label>
        <input ng-model = "model.widget.text"type = "text" id = "newHtmlText" class = "form-control"/>
    </form>


        <a class="btn btn-primary btn-block form-control"
           ng-click = "model.updateWidget(model.widgetId, model.widget)">
            Submit</a>



        <a class="btn btn-danger btn-block form-control"
           ng-click = "model.deleteWidget(model.widgetId)">
            Delete Widget</a>

</div>