

<nav class="navbar navbar-default navbar-fixed-top profileColorRenderer">
    <div class="container-fluid">
        <div class="navbar-header floatRectifier">
            <p class="navbar-brand" href="#">
                Profile
            </p>
            <p class="navbar-text pull-right widgetGlyphAligner" id = "webListPlus">
                <a ng-click = "model.updateUser()"
                   class="navbar-link">
          <span class="glyphicon glyphicon-ok glyphColorRectifier glyphPosRectifier">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container">
    <form>
       <div class="form-group">
           <label for="username" class = "newWebsiteSpaceMaker" id = "websitelistSpaceMaker">Username</label>
           <input ng-model= "model.user.username" type="text" class="form-control" id="username"
                  placeholder="Username">
       </div>
       <div class="form-group">
           <label for="email">Email address</label>
           <input ng-model = "model.user.email" type="email" class="form-control" id="email"
                  placeholder="alice@wonderland.com">
       </div>
       <div class="form-group">
           <label for="first-name">First Name</label>
           <input ng-model = "model.user.firstName" type="text" class="form-control" id="first-name"
                  placeholder="Alice">
       </div>
       <div class="form-group">
           <label for="last-name">Last Name</label>
           <input ng-model = "model.user.lastName" type="text" class="form-control" id="last-name"
                  placeholder="Wonderland">
       </div>
    </form>

        <a class="btn btn-danger  btn-block"
           href="#/login">Logout</a>
        <a class="btn btn-primary btn-block"
           href="#/user/{{model.user._id}}/website">Websites</a>

        <a class="btn btn-warning  btn-block"
           ng-click = "model.deleteUser()">Delete Profile</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom profileColorRenderer">
    <div class="container-fluid">
        <div class="navbar-header floatRectifier">
            <p class="navbar-text pull-right widgetGlyphAligner">
                <a href="#/user/{{model.userId}}" class="navbar-link" id = "webListUser">
                    <span class="glyphicon glyphicon-user glyphColorRectifier">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
