.responsive
{
    overflow: hidden;
}

.projectBackGround
{
    background: url("./images/eathernBackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.loginPageSpaceMaker
{
    margin-top: 30px;
    margin-bottom: 70px;
}

.navigationGlyph
{
    color: white;
}

.glyph-color-maker
{
    color: navajowhite;
}

.fontColorRectifier
{
    color: #dad55e;
}

.recipeNameColorMaker
{
    color: #09D4FF;
}

.btn-space-maker
{
    margin-top: 25px;
}

.colorRender
{
    background-color: #5f3f3f;
}

.image-border-maker
{
    border: 2px;
    border-color: #eeeeee;
}