.responsive
{
    overflow: hidden;
}

.projectBackGround
{
    background: url("./images/cuttingBoard2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}