

<h1>Search for Recipes</h1>

<form action="/api/example/upload" method="POST" enctype="multipart/form-data">
    <input ng-model = "model.queryName" class="form-control">
    <a ng-click="model.loadDoc(model.queryName)" class = "btn btn-block btn-success">Search for recipes</a>
    <!--<input name="myFile" type = "file" id = "fileUpload" class="form-control">
    <button type="submit">Upload Recipe</button>-->
</form>

<a href="#/user/myRecipes" class = "btn btn-block btn-info"> View your Recipes </a>
<a href= "#/user/reset" class = "btn btn-block btn-warning form-group">Reset Credentials</a>
<a href="#/user/viewInbox" class = "btn btn-warning">View group</a>
<!--{{model.hitArray}}-->
<a href = "#/user/admin"><span class = "btn btn-info">Manage as admin</span></a>
<div class="container container-fluid">
    <table class = "table">
        <thead>
            <th>Name of the dish</th>
            <th>How you could plate it</th>
        </thead>
        <tbody>



        <tr ng-repeat = "oneRecipe in model.recipes">

                <td>
                    <a href="#/user/recipeDetails/{{model.rid}}">{{oneRecipe.recipe.label}} </a>
                </td>
                <td>
                     <img ng-src = "{{oneRecipe.recipe.image}}" height = "300" width = "300"/>

                </td>

        </tr>

        </tbody>
    </table>


    <!--{{model.recipes}}-->
</div>