<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Home Page</title>

    <script src = "recipeSearchEngine.controller.client.js" rel ="script"></script>
</head>
<body>
    <h1>Search for Recipes</h1>
    <a href = "#/user/:uid/myRecipes"><span glyphicon glyphicon-th></span> My recipes</a>
    <form>
        <input name = "query1">
        <button onclick="loadDoc(document.getElementsByName('query1')[0].value)" type="button">Ask for query</button>
    </form>

    <p id = "enterJSON"></p>

</body>
</html>