<nav class="navbar navbar-default navbar-fixed-top profileColorRenderer" xmlns="http://www.w3.org/1999/html">
    <div class="row container-fluid">
        <div class = "col-md-4 hidden-sm hidden-xs">
            <div class="navbar-header floatRectifier">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website" class="navbar-link">
                        <span class="glyphicon glyphicon-menu-left glyphColorRectifier widgetGlyphAligner">
                        </span>
                    </a>
                </p>
                <p class="navbar-brand" href="#">
                    Websites
                </p>
                <p class="navbar-text pull-right widgetGlyphAligner" id = "webListPlus">
                    <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                        <span class="glyphicon glyphicon-plus glyphColorRectifier widgetGlyphAligner">
                        </span>
                    </a>
                </p>
            </div>
        </div>

        <div class = "col-md-8">
            <div class="navbar-header floatRectifier">
                <p class="navbar-brand" href="#" id = "newWebSiteSpace">
                    Edit Website
                </p>
            </div>
        </div>
    </div>
</nav>


<div class="container">
    <div class = "row">
        <div class = "col-md-4 hidden-sm hidden-xs container websitelistSpaceMaker" id = "websitelistSpaceMaker">

            <ul class="list-group">
                <li ng-repeat = "website in model.websites" class="list-group-item">
                    <a ng-click="model.goToPageList(website)">
                        {{website.name}}
                    </a>
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
            </ul>
        </div>


        <div class = "col-md-8">
            <form class = "form-group">
                <label for = "newWebsiteName" class = "newWebsiteSpaceMaker">Name</label>
                <input ng-model = "model.website.name" type = "text" id = "newWebsiteName" placeholder = "Name" class = "form-control">
                <label for = "newWebsiteDescription"> Description</label>
                <textarea ng-model = "model.website.description" rows = "10" cols = "50" id = "newWebsiteDescription" class = "form-control" placeholder="Description">

                </textarea>

                <a ng-click="model.updateWebsite(model.websiteId, model.website.name, model.website.description)" class = "btn btn-block btn-primary form-group">Submit</a>

                <a ng-click="model.deleteWebsite()" class = "btn btn-block btn-danger form-group">Delete Website</a>
            </form>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom profileColorRenderer">
    <div class="container-fluid">
        <div class="navbar-header floatRectifier">
            <p class="navbar-text pull-right widgetGlyphAligner">
                <a href="#/user/{{model.userId}}" class="navbar-link" id = "webListUser">
                    <span class="glyphicon glyphicon-user glyphColorRectifier">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


