<nav class="navbar navbar-default navbar-fixed-top profileColorRenderer" xmlns="http://www.w3.org/1999/html">
    <div class="row container-fluid">
        <div class = "col-md-4 hidden-sm hidden-xs">
            <div class="navbar-header floatRectifier">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website" class="navbar-link">
          <span class="glyphicon glyphicon-menu-left glyphColorRectifier widgetGlyphAligner">
          </span>
                    </a>
                </p>
                <p class="navbar-brand" href="#">
                    Websites
                </p>
                <p class="navbar-text pull-right widgetGlyphAligner" id = "webListPlus">
                    <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus glyphColorRectifier widgetGlyphAligner">
          </span>
                    </a>
                </p>
            </div>
        </div>

        <div class = "col-md-8">
            <div class="navbar-header floatRectifier">
                <p class="navbar-brand" href="#" id = "newWebSiteSpace">
                    Edit Website
                </p>
                <!--<p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}/website/{{model._id}}" class="navbar-link">
              <span class="glyphicon glyphicon-ok glyphColorRectifier glyphPosRectifier">
              </span>
                    </a>
                </p>-->
            </div>
        </div>
    </div>
</nav>


<div class="container">
    <div class = "row">
        <div class = "col-md-4 hidden-sm hidden-xs container websitelistSpaceMaker" id = "websitelistSpaceMaker">

            <ul class="list-group">

                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        cras justo odio
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        porta ac consecutor ac
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item">
                    <a href = "#">
                        vestibulum et eros
                    </a>
                    <a href="#"><span class = "glyphicon glyphicon-cog pull-right"></span></a>
                </li>

            </ul>
        </div>


        <div class = "col-md-8">
            <form class = "form-group">
                <label for = "newWebsiteName" class = "newWebsiteSpaceMaker"></label>
                <input ng-model = "model.name" type = "text" id = "newWebsiteName" placeholder = "Name" class = "form-control">{{model.name}}</input>
                <label for = "newWebsiteDescription"></label>
                <textarea ng-model = "model.description" rows = "10" cols = "50" id = "newWebsiteDescription" class = "form-control" placeholder="Description">
                    {{model.description}}

                </textarea>

                <a ng-click="model.updateWebsite(model.name, model.description)" class = "btn btn-block btn-primary form-group">Submit</a>

                <a ng-click="model.deleteWebsite(model.websiteId)" class = "btn btn-block btn-danger form-group">Delete Website</a>
            </form>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom profileColorRenderer">
    <div class="container-fluid">
        <div class="navbar-header floatRectifier">
            <p class="navbar-text pull-right widgetGlyphAligner">
                <a href="#/user/{{model.userId}}" class="navbar-link" id = "webListUser">
          <span class="glyphicon glyphicon-user glyphColorRectifier">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


