
<nav class="navbar navbar-default navbar-fixed-top pageColorRenderer">
    <div class="container-fluid">
        <div class="navbar-header floatRectifier">
            <p class="navbar-text pull-left">
                <a href="#/website" class="navbar-link">
          <span class="glyphicon glyphicon-menu-left glyphColorRectifier widgetGlyphAligner">
          </span>
                </a>
            </p>
            <p class="navbar-brand" href="#">
                Pages
            </p>
            <p class="navbar-text pull-right widgetGlyphAligner" id = "webListPlus">
                <a href="#/page/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus glyphColorRectifier glyphPosRectifier">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container websitelistSpaceMaker" id = "websitelistSpaceMaker">

    <div class = "row" id = "AddBookApp">
        <div class = "col-xs-10" >
            <a href = "#/widget">Blog Post</a>
        </div>
        <div class = "col-xs-2">
            <a href="#/page/abc">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
    </div>

    <div class = "row">
        <div class = "col-xs-10">
            <a href = "#/widget">Blogs</a>
        </div>
        <div class = "col-xs-2">
            <a href="#/page/bcd">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
    </div>

    <div class = "row">
        <div class = "col-xs-10">
            <a href = "#/widget">Home</a>
        </div>
        <div class = "col-xs-2">
            <a href="#/page/cde">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
    </div>

    <div class = "row">
        <div class = "col-xs-10">
            <p><a href = "#/widget">About</a></p>
        </div>
        <div class = "col-xs-2">
            <p><a href="#/page/def">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            </p>
        </div>
    </div>

    <div class = "row">
        <div class = "col-xs-10">
            <p><a href = "#/widget">Contact Us</a></p>
        </div>
        <div class = "col-xs-2">
            <p><a href="#/page/efg">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            </p>
        </div>
    </div>

</div>



<nav class="navbar navbar-default navbar-fixed-bottom pageColorRenderer">
    <div class="container-fluid">
        <div class="navbar-header floatRectifier">
            <p class="navbar-text pull-right widgetGlyphAligner">
                <a href="#/profile" class="navbar-link" id = "webListUser">
          <span class="glyphicon glyphicon-user glyphColorRectifier">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

