
<nav class="navbar navbar-default navbar-fixed-top pageColorRenderer">
    <div class="container-fluid">
        <div class="navbar-header floatRectifier">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-menu-left glyphColorRectifier widgetGlyphAligner">
                    </span>
                </a>
            </p>
            <p class="navbar-brand" href="#">
                Edit Page
            </p>
        </div>
    </div>
</nav>


<div class="container" id = "newPageSpaceMaker">
    <form class = "form-group">
        <label for = "newPageName" class = "newWebsiteSpaceMaker">Name</label>
        <input ng-model ="model.page.name" required type = "text" id = "newPageName" placeholder = "Blog Post"
               class = "form-control"/>
        <label for = "newPageDescription">Title</label>
        <input ng-model = "model.page.title" type = "text" id = "newpageDescription" placeholder = "Page Title" class = "form-control"/>
    </form>
    <a class="btn btn-primary btn-block form-group"
       ng-click = "model.updatePage(model.userId, model.websiteId, model.pageId, model.page.name, model.page.title)">Submit</a>

    <a class="btn btn-danger btn-block form-group"
       ng-click = "model.deletePage(model.pageId)">Delete Page</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom pageColorRenderer">
    <div class="container-fluid">
        <div class="navbar-header floatRectifier">
            <p class="navbar-text pull-right widgetGlyphAligner">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link"
                   id = "webListUser">
          <span class="glyphicon glyphicon-user glyphColorRectifier">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

